@import "tailwindcss";
@plugin "@tailwindcss/typography";



@theme {
  /* ── Colours ── */
  --color-brand-50: #f0f9ff;
  --color-brand-500: #B1AAAA;
  --color-brand-600: #6D6464;
  --color-brand-900: #0c4a6e;

  --color-border: #e2e8f0;

  --color-surface: #F7F7EB;
  --color-surface-muted: #C0C2AB;
  --color-text-primary: #0f172a;
  --color-text-muted: #64748b;
  

  /* ── Typography ── */
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Cal Sans', sans-serif;


  /* ── Radius ── */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-full: 9999px;
}

.ProseMirror {
  min-height: 200px;
  outline: none;
}

.ProseMirror h1 {
  font-size: 2rem;
  font-weight: bold;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.ProseMirror ul {
  list-style: disc;
  padding-left: 20px;
}

.ProseMirror ol {
  list-style: decimal;
  padding-left: 20px;
}
